# ==================== Режим production (монтирование папок не нужно!) ====================

# ---------- описываем сервисы (1 сервис = 1 контейнер): ----------
services:
  # ---------- первый сервис - библиотека: ----------
  library:
    image: professorseverussnape/library # готовый образ с тегом :latest из реестра hub.docker.com
    depends_on:
      - counter # зависимость от сервиса-счётчика
    environment:
      PORT: 3000 # переменная окружения "PORT" -> сервис запустится на порту 3000
      MICROSERVICE_URL: http://counter:4000 # переменная окружения -> вместо http://localhost:4000
    ports:
      - 3100:3000 # прокидываем порт для связи хоста с контейнером

  # ---------- второй сервис - счётчик: ----------
  counter:
    image: professorseverussnape/counter # готовый образ с тегом :latest из реестра hub.docker.com
    depends_on:
      - redis # зависимость от базы данных
    environment:
      PORT: 4000 # переменная окружения "PORT" -> сервис запустится на порту 4000
      REDIS_URL: redis://redis:6379 # переменная окружения -> вместо redis://localhost:6379
    ports:
      - 4100:4000 # прокидываем порт для связи хоста с контейнером

  # ---------- третий сервис - база данных: ----------
  redis:
    image: redis # загружаем готовый образ с тегом :latest из реестра hub.docker.com
    ports:
      - 6380:6379 # прокидываем порт для связи хоста с контейнером
    volumes:
      - redis-db:/data # том для сохранения данных

# ---------- Docker volumes: ----------
volumes:
  redis-db: # создаём именованный docker-том `${название-корневой-папки}_redis-db`
