/* -------------------- Общие стили: -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

html,
body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "Arial", sans-serif;
  color: #333;

  background-color: #f5f7fa;
}

.main {
  position: relative;

  flex: 1;
}

/* -------------------- Шапка: -------------------- */
.header {
  padding: 1rem 2rem;

  color: #fff;
  text-align: center;

  background-color: #2c3e50;
}

.header__title {
  margin-bottom: 1rem;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.nav__link {
  color: #fff;
  font-weight: bold;
}

.nav__link:hover {
  text-decoration: underline;
}

/* -------------------- Подвал: -------------------- */
.footer {
  padding: 1rem 2rem;

  color: #fff;
  text-align: center;

  background-color: #2c3e50;
}

.footer__text {
  font-size: 1.25rem;
}

/* -------------------- Список всех книг: -------------------- */
.books {
  padding: 1rem 2rem;
}

.books__title {
  margin-bottom: 1rem;
}

.books__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: stretch;

  padding: 0;
}

.book-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 250px;
  padding: 1.5rem;
  border-radius: 12px;

  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.book-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex-grow: 1;
}

.book-card__title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.book-card__text {
  font-size: 0.95rem;
  color: #555;
  text-align: justify;
}

.book-card__text > span {
  font-weight: bold;
}

.book-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: auto;
}

.book-card__link,
.book-card__btn {
  border: none;

  text-decoration: none;
  color: #9b88c9;
  font-weight: bold;

  background: none;
  cursor: pointer;
}

.book-card__link_update {
  font-size: 1.5rem;
  color: #26712a;
}

.book-card__btn_delete {
  font-size: 1.5rem;
  color: #c0392b;
}

.book-card__link:not(.book-card__link_update):hover {
  text-decoration: underline;
}

.book-card__link_update:hover,
.book-card__btn_delete:hover {
  transform: scale(1.2);
}

.books__empty {
  padding: 1rem 2rem;

  text-align: center;
  font-size: 1.25rem;
  font-style: italic;
}

/* -------------------- Просмотр книги: -------------------- */
.book {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  max-width: 700px;

  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.book__info {
  margin: 1rem 0;
  padding: 0;
}

.book__item {
  margin-bottom: 0.5rem;
}

.book__item > span {
  font-weight: bold;
}

.book__actions {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  margin-top: 1.5rem;
}

.book__link {
  padding: 0.5rem 1rem;
  border-radius: 8px;

  color: white;
  text-decoration: none;

  background-color: #2980b9;
}

.book__link_back {
  background-color: #95a5a6;
}

.book__link:hover {
  transform: scale(1.05);
}

/* -------------------- Создание / изменение книги: --------------------*/
.book-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;

  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.book-form__title {
  text-align: center;
}

.book-form__body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-form__label {
  display: flex;
  flex-direction: column;

  font-weight: bold;
  color: #34495e;
}

.book-form__input,
.book-form__textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;

  font-size: 1rem;
}

.book-form__textarea {
  min-height: 100px;
  resize: vertical;
}

.book-form__actions {
  display: flex;
  gap: 1rem;
}

.book-form__btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;

  font-weight: bold;

  cursor: pointer;
}

.book-form__btn_submit {
  font-size: 1rem;
  color: #fff;

  background-color: #27ae60;
}

.book-form__btn_submit:hover {
  background-color: #219150;
}

.book-form__btn_cancel {
  color: #fff;

  background-color: #c0392b;
}

.book-form__btn_cancel:hover {
  background-color: #992d22;
}
